
/*
Branding color::
Grey: #A29E9F
Black: #272727
Orange: #FF7B42
*/

html{
  scroll-behavior: smooth;
}


body{
  font-family: 'IBM Plex Serif',Big Caslon, cursive;
  font-size: 14px;
}

@media only screen and (min-width: 641px) {
  body{
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
}

h1{
  font-size: 2.25em;
  margin-bottom: 5%;
  font-weight: 100;
}

h2{
  color: #272727;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.1em;
  letter-spacing: -0.025em;
}

h3{
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: -0.025em;
}

h4{
  font-size: 24px;
  margin-bottom: 36px;
}

.subhead1{
  font-size: 1.27em;
  font-weight: lighter;
}

.body1{
  font-size: 1.33em;
  font-weight: 200;
  line-height: 1.33em;
  font-family: "Balsamiq Sans";
  letter-spacing: 0.025em;
  line-height: 1.5em;
  text-align: left;
}


.body2{
  font-size: 1.1em;
  font-family: "Balsamiq Sans";
  font-weight: 200;
  line-height: 1.33em;
  letter-spacing: 0.025em;
}

.body3{
  font-size: 1em;
  font-family: "Balsamiq Sans";
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.045em;
}

.caption{
  font-size: 0.8em;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.capitalization{
  text-transform: uppercase;
}

.grey{
  color: #A29E9F;
}

.white{
  color: #FFFFFF;
}

.accent{
  color: #272727;
}

.thin{
  font-weight: lighter;
}

.bold{
  font-weight: 900;
}

.bold-700{
  font-weight: 700;
}

.bold-400{
  font-weight: 400;
}

#bold{
  font-weight: 900;
}

.text-center{
  text-align: center;
}

.transition{
  animation: transition 1s ;
  animation-fill-mode: forwards;
}

@keyframes transition{
  from{
    opacity: 0.5;
    margin-top: -20px;
  }
  to{
    opacity: 1;
    
  }
}


/* #paragraph{
  font-size: 1em;
  line-height: 2em;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.2px;
} */

.hero_slider{
  width: 40%;
  margin: auto;
}

#side_section{
  background: black;
  position: absolute;
  width: 30px;
  height: 100px;
  vertical-align: middle;
  padding: 15px 15px 15px 15px;
  top: 40vh;
  right: 0;

  display: none;
}

#side_section ul{
  display: block;
}

.link{
  border-bottom: 2px solid #FF7B42;
}

.large_logo{
  display: block;
  margin: auto;
  padding: 4em 8em 4em 8em;
  width: 16%;
}

.hero_img{
  width: 38%;
  padding: 0em 2em 0em 2em;

}

/* .btn_read_more{
  color: #A29E9F;
  font-family: "Nunito", sans-serif;
  float: right;
  padding: 2em;
} */

.container{
  width: 100%;
  height: auto;
  margin: 0;
}

.header{
    width: 100%;
    height: 50px;
    text-align: unset;
    vertical-align: middle;
}

/* ==============================
Menu Section
================================= */

.navtoggle, .navtoggle.responsive{
  position: relative;
  transition: all .2s ease-in;
}

.navtoggle .icon{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.main_nav{
  width: auto;
  height: auto;
  text-align: center;
  text-align: right;
}

.main_nav li{
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  padding-top: 40px;
  color: #FFFFFF;
  font-size: 0.88em;
}

.main_nav > ul{
  margin: 0;
}

.navtoggle .icon{
  padding-top: 1.5em;
  position: fixed;
  padding-right: 1.5em;
}


.navtoggle li:not(:last-child){
  display: none;
}

.navtoggle .middle_bar{
  opacity: 1;
}

.navtoggle.responsive{
  background-color: #272727;
  width: 100vw;
  height: auto;
  z-index: 1;
  padding-top: 3.5em;
  position: fixed;
}
.navtoggle.responsive ul{
  padding-bottom: 2em;
}
.navtoggle.responsive li{
  display: block;
  text-align: center;
  padding: 4em 2em 2em 2em;
}

.navtoggle.responsive a{
  color: #FFFFFF;
}


/* Menu svg animation */


.icon path{
  transition: all .5s ease-in-out;
}

.navtoggle.responsive path{
  fill: #FFFFFF;
  transition: all .5s ease-in-out;
}

.navtoggle.responsive .top_bar{
  transform-origin: 10% 30%;
  transform: rotate(45deg);
}

.navtoggle.responsive .bottom_bar{
  transform-origin: 16% 49%;
  transform: rotate(-45deg);
}

.navtoggle.responsive .middle_bar{
  opacity: 0;
  transition: all .2s ease-in;
}



@media only screen and (min-width: 641px) {
  nav > ul >li {
    display: inline-block;
  }
  
  .navtoggle li:not(:last-child){
    display: inline-block;
  }

  .navtoggle .icon{
    display: none;
  }
}

.logo{
  vertical-align: middle;
  position: absolute;
  padding: 40px;
}

#content{
  padding: 5% 0 10% 0;
  height: auto;
  width: 85%;
  margin: auto;
  text-align: inherit;
}

@media only screen and (min-width: 680px) {
  #content{
    text-align: inherit;
  }
}


/* ==============================
Hero Section
================================= */

.hero_section{
  width: 100%;
  height: 100vh;
  margin: 0;
}

.colume_ns2siu{
  width: 400px;
  display: inline-block;
  margin: 0;
  margin-top: 240px;
  margin-left: 20%;
}

.colume_ns2siu > .subhead1{
  margin-top: -5%;
  margin-bottom: 5%;
}

@media only screen and (min-width: 641px){
  .colume_ns2siu{
    width: 600px;
  }
}

/* ==============================
Second section: About me index
================================= */

.second_section{
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.colume_single{
  width: 700px;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.img_profile_o{
  width: 100px;
  
}

@media only screen and (min-width: 641px){
  .img_profile_o{
    width: 180px;
  }
}

.colume_single > p {
  padding-top: 50px;
}

.first_introduction > h2 {
  padding-top: 50px;
  line-height: 1.1em;
}

.second_section > .caption{
  padding-top: -3px;
}

.accent-animation{
  color: #272727;
  background: #FFFFFF;
  transition: .5s ease-out;
}

.accent-animation:hover{
  color: #FFFFFF;
  background: #272727;
}
/* .accent-animation2{
  animation: accent-animation 0.5s linear;
  color: #FFFFFF;
  background: #272727;
} */
/* 
@keyframes accent-animation{
  from{
    color: #272727; background-color: #FFFFFF;
  }
  to{  
    color: #FFFFFF;
    background: #272727;
  }
} */

/* ==============================
Third section: Project index
================================= */

.third_section{
  height: 100vh;
  width: 100vw;
}

.project_index_row{
  width: 80vw;
  padding-top: 200px;
  padding-left: 5%;
  margin: auto;
}

.project_index_colume{
  display: inline-block;
  padding: 0 0 0 1em;
}

.project_index_cover{
  width: 23vw;
}

.read_more_btn{
  text-align: center;
  padding-right: 0vw;
  padding-top: 8%;
}

.hover_cover{
  transition: 0.2s ease-in;
}

.hover_cover:hover{
  filter: brightness(.5);
}

.hover_cover2{
  transition: 0.2s ease-in;
}

.hover_cover2:hover{
  opacity: 0.5;
}

.Project_index_fitness{
  position: relatice;
  width: 100vw;
  top: 1200px;
  left: 200px;
}

/* ==============================
About me: Hero section
================================= */

.greeting_section{
  padding-top: 120px;
  text-align: center;
}

.greeting_section > p {
  padding-top: 72px;
}

.greeting_section{
  font-weight: lighter;
}
/* ==============================
About me: Second section
================================= */


.jorney_colume{
  width: 40%;
  height: 100wh;
  margin: auto;
  padding-top: 240px;
}

.jorney_colume > p{
  padding-top: 30px;
}


.third_section > span{
  text-decoration: underline;
}


.youtube_section{
  margin-top: 4em;
}


/* ==============================
Project index: Hero section
================================= */

.project_list > .colume{
  padding-top: 40vh;
  padding-left: 15vw;
  z-index: 1;
}

.project_list > .cover{
  width: 800px;
  height: 500px;
  position: absolute;
  top: 140px;
  left: 20vw;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
}

.project_list > .colume > p{
  padding-bottom: 0.8em;
}



/* ==============================
Project: Hero section
================================= */

.backforward {
  height: auto;
  width: auto;
  vertical-align: middle;
  padding: 50px;
}

.project_preview{
  height: 100vh;
}

.project_preview > .colume{
  padding-top: 25vh;
  padding-left: 10vw;
}


.project_preview_pj{
  max-width: 100vw;
  height: 140vh;
  /* background-color: #1BC8D4; */
  background-color: #000000;
}

.outline{
  border: #A29E9F 1.2px solid;
  padding: 50px 50px 70px 50px;
  border-radius: 6px;
}


.template_cover{
  width: 100vw;
  height: 80vh;
  /* background-color: #F3F3F3; */
  margin-top: 15vh;
  object-fit: cover;
}

.template_phone{
  position: absolute;
  width: 350px;
  top: 200px;
  right: 200px;
}

.txt_colume_6{
  float: left;
}


.project_preview_pj > .txt_colume_6{
  margin: auto;
  margin-top: 27vh;
  width: 58vw;
  padding-top: 20vh;
  margin-left: 13vw;
  display: block;
}

#padding-minus{
  padding-top: 10px;
}

.project_preview_pj > .txt_colume_6 > .subhead1{
  padding-bottom: 1em;
}

.project_preview_pj > .txt_colume_6 > h1{
  width: 40vw;
  min-width: 400px;
}


.project_preview_pj > .txt_colume_6 > .body3{
  width: 380px;
  letter-spacing: -0.02em;
  line-height: 1.6em;
}

.project_preview_pj > .brief > .body3{
  width: 280px;
}

@media only screen and (min-width: 641px) {
  .project_preview_pj > .txt_colume_6 > h1{
    width: 40vw;
    min-width: 430px;
    line-height: 1.15em;
  }
  .project_preview_pj > .txt_colume_6 > .body3{
    width: 30vw;
    min-width: 280px;
    letter-spacing: -0.02em;
    line-height: 1.4em;
  }

  .project_preview_pj > .brief > .body3{
    width: 200px;
    min-width: 230px;
  }

  .project_preview_pj > .txt_colume_6{
    margin-left: 20vw;
    display: inline-block;
    
  }

  .project_preview_pj > .brief{
    position: absolute;
    margin-left: 0vw;
    left: 65vw;
    top: 900px;
  }
}

/* ==============================
Plus section: Scope
================================= */
.section{
  width: 100vw;
}

.project_scope{
  margin-left: 10vw ;
}

.project_scope_row{
  
}

.project_colume_6{
  float: left;
  display: inline-block;
}

.project_scope > .project_colume_6{
  width: 40vw;
  padding-top: 80px;
}

.project_scope > .project_colume_6 > .txt_colume_6 > p{
  width: 300px;
} 

.txt_colume_6{
  width: 30vw;
}

.project_scope > .project_colume_6 > .txt_colume_6 {
  padding-bottom: 30px;
  padding-left: 140px;
}

.project_scope > .colume_6{
  padding-top: 180px;
}

.project_scope > .colume_6 > h1{
  padding-left: 140px;
  padding-bottom: 40px;
}

.project_scope > .colume_6 > p{
  padding-left: 140px;
  padding-bottom: 10px;
}

/* ==============================
Project: User flow
================================= */
.wireframe_part{
  width: 100vw;
  height: 70vh;
  display: flex;
  margin: auto;
  padding-top: 200px;
}

.wireframe_part > .colume_12{
  margin: auto;
  width: 40vw;
  height: 10vh;
  text-align: center;
  padding: 40px;
}

.wireframe_part > .colume_12 > .subhead1{
  margin: auto;
  padding-bottom: 10px;
  background-color: #000000;
  width: 300px;
  color: #FFFFFF;
  padding-top: 10px;
  font-weight: 400;
  margin-bottom: 15px ;
}

.svg_box{
  width: 100vw;
  margin: auto;
}

.svg_box > .vector{
  width: 100vw;
  transform: rotate(90deg);
  margin: auto;
  margin-top: 10vh;
}

.bk-black{
  background: #000000;
}

/* ==============================
Project: third section
================================= */

.project_preview_func{
  padding-top: 100px;
}

.project_preview_func > .txt_colume_6{
  width: 70vw;
  height: 30vh;
  margin-left: 20vw;
  padding-top: 4em;
}

.project_preview_func > .txt_colume_6 > h3{
  margin-bottom: -0.35em;
}

.project_preview_func > .txt_colume_6 > p{
  margin-top: 1.6em;
  width: 440px;
}

.project_preview_func > .txt_colume_6 > .bolder{
  font-weight: bolder;
}

.project_preview_func > .txt_colume_6 > .lighter{
  font-weight: lighter;
}

/* ==============================
Project: forth section
================================= */

.forth_section{
  height: 70vh;
}

.forth_section > .txt_colume_6 > p{
  margin-top: 1em;
}

.forth_section > .txt_colume_6{
  margin-left: 25vw;
  /* margin-top: 32vh; */
  width: 350px;
}

.project_preview_logo{
  margin-top: 280px;
}


.project_preview_logo > .txt_colume_6{
  float: left;
}

.project_preview_logo > .txt_colume_6 > p{
  padding-top: 1em;
}

.project_preview_logo > .img_colume_6{
  float: left;
  margin-top: 11vh;
  margin-left: 10vw;
}

.project_preview_logo > .img_colume_6 > picture > img{
  width: 200px;
}

.italic_transform{
  animation: accent_txt 1s ease;
  animation-iteration-count: infinite;
  transform-origin: center;
  font-weight: bold;
}

.project_preview_logo > .txt_colume_6 > .italic_transform{
  text-align: center;
  font-size: 1.27em;
  margin-left: -4em;
}


@keyframes accent_txt{
  from{
    font-style: unset;
  }
  to{
    font-style: italic;
  }
}

.color_box_block{
  width: 150px;
  height: 150px;
}

.color1{
  background-color: #272727;
}
.color2{
  background-color: #33E1ED;
}
.color3{
  background-color: #FFFFFF;
}
.color4{
  background-color: #F3F3F3;
}

.project_preview_color > .txt_colume_6{
  width: auto;
}


.project_preview_color{
  padding-top: 2vh;
}

.project_preview_color > .txt_colume_6 > .color_block{
  float: left;
  margin-top: 2em;
}

.color_txt_block{
  width: 150px;
  height: auto;
  padding: 20px 0 20px 0;
  box-shadow: 2px 2px 3px #F3F3F3;
}

.color_txt_block > p{
  text-align: center;
}

.project_preview_color > .italic_transform{
  display: block;
}

.project_side_bar{
  opacity: 1;
}

.project_side_bar > ul > li{
  line-height: 2em;
}
.scroll_container{
  opacity: 0;
}

.slideUp{
  opacity: 1;
  position: fixed;
  top: 240px;
  left: 100px;
  animation-name: slideUp;
  animation-duration: 1s;
}

@keyframes slideUp{
  0%{opacity: 0;}
  100%{opacity: 100;}
}

.typo{
  height: 88vh;
}

.typo > .txt_colume_6 > .img_colume_6 > picture > img{
  padding-top: 2em;
}


/* ==============================
Project: fifth section
================================= */

.fifth_section{
  height: 90vh;
  width: 100vw;
}

.user_research_w{
  width: 80vw;
  margin: auto;
}

.user_research_w > .img_colume_4{
  padding: 24vh 0 0 20vw;
}

.img_colume_4{
  float: left;
}

.user_research_w > .img_colume_4 > picture > img{
  height: 200px;
  padding: 0 2em 0 2em;
}

.user_research_w > .img_colume_4 > h3{
  padding-bottom: 3em;
  text-align: center;
}

.txt_colume_12_w{
  float: left;
  text-align: center;
  width: 83vw;
}
.user_research_w > .txt_colume_12_w > ul > li > h3{
  font-weight: bold;
  padding-bottom: 1em;
}

.user_research_w > .txt_colume_12_w  > ul {
  padding-top: 2em;
}

.user_research_w > .txt_colume_12_w  > ul >li{
  line-height: 40px;
}


.visual_design_section{
  margin: auto;
  width: 70vw;
  height: auto;
  padding-top: 100px;
}

.whole_img{
  width: 70vw;
}

.scroll_up > .vector{
  width: 50px;
  opacity: 0.1;
  position: fixed;
  top: 85vh;
  right: 4vw;
}

.scroll_up > .vector:hover{
  opacity: 1;
  transition: all .5s ease-out;
}




















.colume-lg-12{
  width: 450px;
  margin: auto;
  text-align: center;
  padding: 0;
}

@media only screen and (min-width: 680px) {
  .colume-lg-12{
    padding-left: 130px;
    text-align: inherit;
  }
}

.profile_colume{
  margin: auto;
  width: 100vw;
}

.profile_colume > picture > img{
  width: 20vw;
}

.introduction{
  width: auto;
  height: auto;
  color: #272727;
  margin-left: 1em;
  margin-top: 8em;
}

.hint{
  text-align: center;
  margin: 15em 0 0 0;
}

.hint_txt{
  padding-bottom: 1em;
}

.row{
  height: 400px;
  margin-bottom: 100px;
}

.root_row{
  padding-top: 50px;
  padding-left: 28%;
  background: #FFFFFF;
  color: #272727;
}

[class*="col-"]{
  float: left;
}

.col-lg-6{
  max-width: 400px;
  height: 150px;
  padding: 80px 20% 6% 0;
}

.list{
  margin: auto;
  max-width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
}

.practice > h3{
  padding-bottom: 3em;
}

.practice > h4{
  margin-bottom: -36px;
}

.practice > p{
  margin-top: -500px;
}



.list_2{
  margin: auto;
  max-width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
}

.list_2 > h3{
  padding-bottom: 30px;
}

.list_2 > ul {
  color: #272727;
  font-size: 2em;
  margin-bottom: 5em;
  line-height: 1.7em;
}

@media only screen and (min-width: 680px) {
  .list_2{
    text-align: inherit;
    line-height: 1.5em;
  }
}

.content3{
  width: 82.65%;
  height: auto;
  margin-left: 8%;
  margin-top: 13%;
  background: #272727;
  display: inline-block;
  margin-bottom: 20%;
}

.colume1{
  float: right;
}

.colume2{
  background: blue;
  width: auto;
  float: left;
  margin-right: 5%;
}

.colume2 p{
  color: #FFFFFF;
  width: 446px;
  height: 130px;
  font-size: 18px;
  line-height: 30px;
  margin-top: -5%;
}

.pj_img{
  width: auto;
  height: 360px;
  overflow: hidden;
}

.colume2_right{
  background: blue;
  width: auto;
  float: left;
}

.colume2_right p{
  color: white;
  width: 446px;
  height: 130px;
  font-size: 18px;
  line-height: 30px;
}

.footer{
  width: auto;
  height: 80wh;
  background: black;
  padding: 3% 0 3% 0;
  text-align: center;
  margin-top: 100px
}

.footer h2{
  color: grey;
  text-align: center;
}

.footer li{
  color: grey;
  font-size: 16px;
  line-height: 42px;
  vertical-align: center;
}



.project_content{
    margin: 0 auto;
}

.cover{
  width: auto;
  height: auto;
  display: block;
  padding-left: 13%;
}

.pj_info{
  margin-left: 14%;
}

.row_colume{
  /* margin: 5%; */
  height: 500px;
  padding: 5% 6% 5% 6%;
}

.colume2x2{
  width: 30%;
  float: left;
  padding: 0 10% 0 10%;
}

.colume1x1{
  display: inline-block;
  width: 60%;
  vertical-align: middle;

}

.row_colume1x1{
  /* margin: 5%; */
  width: 100%;
  height: 400px;
  padding: 5% 20% 5% 20%;
}

.row_colume .cover{
  float: left;
  padding: 4%;
}

.demo_content{
  padding: 0 25% 0 25%;
}
.demo_img{
  width: 100%;
}

.circle{
  animation: 2s color-change infinite alternate linear;
}

.arrow{
  animation: 0.7s arrow-move infinite alternate linear;
}

@keyframes color-change {
  0% {fill: #DCB951;}
  50% {fill: #FF7B42;}
  100% {fill: #B620E0;}
}

@keyframes arrow-move {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px, 4px);}
}
