
/*
Branding color::
Grey: #A29E9F
Black: #272727
Orange: #FF7B42
*/
html{
  scroll-behavior: smooth;
}


body{
  font-family: 'Concert One', cursive;
  font-size: 14px;
}

@media only screen and (min-width: 641px) {
  body{
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
}

h1{
  font-size: 10em;
  margin-bottom: 5%;
}

h2{
  color: #272727;
  font-size: 2em;
  margin-bottom: 0.1em;
}

h3{
  font-size: 1.5em;
  margin-top: 5%;
  font-family: "Nunito", sans-serif;
}

h4{
  font-size: 24px;
  margin-bottom: 36px;
}

#paragraph{
  font-size: 1em;
  line-height: 2em;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.2px;
}

#caption{
  font-size: 1em;
  line-height: 2em;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.2px;
}

#hero_section{
  width: 100%;
  margin: auto;
}

#hero_slider{
  width: 40%;
  margin: auto;
}

#side_section{
  background: black;
  position: absolute;
  width: 30px;
  height: 100px;
  vertical-align: middle;
  padding: 15px 15px 15px 15px;
  top: 180px;
}

#side_section ul{
  display: block;
}

.link{
  border-bottom: 2px solid #FF7B42;
}

.large_logo{
  display: block;
  margin: auto;
  padding: 4em 8em 4em 8em;
  width: 16%;
}

.hero_img{
  width: 38%;
  padding: 0em 2em 0em 2em;

}

.btn_read_more{
  color: #A29E9F;
  font-family: "Nunito", sans-serif;
  float: right;
  padding: 2em;
}

.container{
  width: 100%;
  height: auto;
  margin: 0;
}

.header{
    width: 100%;
    height: 50px;
    text-align: unset;
}

.navtoggle, .navtoggle.responsive{
  position: relative;
  transition: all .2s ease-in;
}

.navtoggle .icon{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.main_nav{
  width: auto;
  height: auto;
  text-align: center;
  text-align: right;
}

.main_nav li{
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  padding-top: 40px;
  color: #FFFFFF;
}

.main_nav > ul{
  margin: 0;
}

.navtoggle .icon{
  padding-top: 1.5em;
  position: fixed;
  padding-right: 1.5em;
}


.navtoggle li:not(:last-child){
  display: none;
}

.navtoggle .middle_bar{
  opacity: 1;
}

.navtoggle.responsive{
  background-color: #272727;
  width: 100vw;
  height: auto;
  z-index: 1;
  padding-top: 3.5em;
}
.navtoggle.responsive ul{
  padding-bottom: 2em;
}
.navtoggle.responsive li{
  display: block;
  text-align: center;
  padding: 4em 2em 2em 2em;
}

.navtoggle.responsive a{
  color: #FFFFFF;
}


/* Menu svg animation */


.icon path{
  transition: all .5s ease-in-out;
}

.navtoggle.responsive path{
  fill: #FFFFFF;
  transition: all .5s ease-in-out;
}

.navtoggle.responsive .top_bar{
  transform-origin: 10% 30%;
  transform: rotate(45deg);
}

.navtoggle.responsive .bottom_bar{
  transform-origin: 16% 49%;
  transform: rotate(-45deg);
}

.navtoggle.responsive .middle_bar{
  opacity: 0;
  transition: all .2s ease-in;
}



@media only screen and (min-width: 641px) {
  nav > ul >li {
    display: inline-block;
  }
  
  .navtoggle li:not(:last-child){
    display: inline-block;
  }

  .navtoggle .icon{
    display: none;
  }
}

.logo{
  vertical-align: middle;
  position: absolute;
}

#content{
  padding: 5% 0 10% 0;
  height: auto;
  width: 85%;
  margin: auto;
  text-align: inherit;
}

@media only screen and (min-width: 680px) {
  #content{
    text-align: inherit;
  }
}

.colume-lg-12{
  width: 450px;
  margin: auto;
  text-align: center;
  padding: 0;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 680px) {
  .colume-lg-12{
    padding-left: 130px;
    text-align: inherit;
  }
}

.profile_colume{
  margin: auto;
  width: 300px;
}

.introduction{
  width: auto;
  height: auto;
  color: #272727;
  margin-left: 1em;
  margin-top: 8em;
}

.hint{
  text-align: center;
  margin: 15em 0 0 0;
}

.hint_txt{
  padding-bottom: 1em;
}

.row{
  height: 400px;
  margin-bottom: 100px;

}

.root_row{
  padding-top: 50px;
  padding-left: 28%;
  background: #FFFFFF;
  color: #272727;
}

[class*="col-"]{
  float: left;
}

.col-lg-6{
  max-width: 400px;
  height: 150px;
  padding: 80px 20% 6% 0;
}

.list{
  margin: auto;
  max-width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
}

.practice > h3{
  padding-bottom: 3em;
}

.practice > h4{
  margin-bottom: -36px;
}

.practice > p{
  margin-top: -500px;
}



.list_2{
  margin: auto;
  max-width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
}

.list_2 > h3{
  padding-bottom: 30px;
}

.list_2 > ul {
  color: #272727;
  font-size: 2em;
  margin-bottom: 5em;
  line-height: 1.7em;
}

@media only screen and (min-width: 680px) {
  .list_2{
    text-align: inherit;
    line-height: 1.5em;
  }
}

.content3{
  width: 82.65%;
  height: auto;
  margin-left: 8%;
  margin-top: 13%;
  background: #272727;
  display: inline-block;
  margin-bottom: 20%;
}

.colume1{
  float: right;
}

.colume2{
  background: blue;
  width: auto;
  float: left;
  margin-right: 5%;
}

.colume2 p{
  color: #FFFFFF;
  width: 446px;
  height: 130px;
  font-size: 18px;
  line-height: 30px;
  margin-top: -5%;
}

.pj_img{
  width: auto;
  height: 360px;
  overflow: hidden;
}

.colume2_right{
  background: blue;
  width: auto;
  float: left;
}

.colume2_right p{
  color: white;
  width: 446px;
  height: 130px;
  font-size: 18px;
  line-height: 30px;
}

.footer{
  width: auto;
  height: 300px;
  background: black;
  padding: 3% 0 3% 0;
  text-align: center;
  margin-top: 100px
}

.footer h2{
  color: grey;
  text-align: center;
}

.footer li{
  color: grey;
  font-size: 16px;
  line-height: 42px;
  vertical-align: center;
}



.project_content{
    margin: 0 auto;
}

.cover{
  width: auto;
  height: auto;
  background: black;
  display: block;
  padding-left: 13%;
}

.pj_info{
  margin-left: 14%;
}

.subhead1{
  font-size: 20px;
  margin-top: -5%;
  margin-bottom: 5%;
}

.row_colume{
  /* margin: 5%; */
  height: 500px;
  padding: 5% 6% 5% 6%;
}

.colume2x2{
  width: 30%;
  float: left;
  padding: 0 10% 0 10%;
}

.colume1x1{
  display: inline-block;
  width: 60%;
  vertical-align: middle;

}

.row_colume1x1{
  /* margin: 5%; */
  width: 100%;
  height: 400px;
  padding: 5% 20% 5% 20%;
}

.row_colume .cover{
  float: left;
  padding: 4%;
}

.demo_content{
  padding: 0 25% 0 25%;
}
.demo_img{
  width: 100%;
}

.circle{
  animation: 2s color-change infinite alternate linear;
}

.arrow{
  animation: 0.7s arrow-move infinite alternate linear;
}

@keyframes color-change {
  0% {fill: #DCB951;}
  50% {fill: #FF7B42;}
  100% {fill: #B620E0;}
}

@keyframes arrow-move {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px, 4px);}
}
